@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat.ttf);
}
@font-face {
  font-family: Montserrat-Italic;
  src: url(../assets/fonts/Montserrat-Italic.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  font-family: Montserrat;
  font-size: 16px;
  color: #1D1616;
}
@media (max-width: 1240px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 1040px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 490px) {
  body {
    font-size: 13px;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 170px;
}

h1 {
  font-size: 38px;
  font-weight: 600;
}
@media (max-width: 1240px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 1040px) {
  h1 {
    font-size: 22px;
  }
}
@media (max-width: 744px) {
  h1 {
    font-size: 18px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 500;
  max-width: 680px;
}
h2 span {
  color: #007BC2;
}

h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1240px) {
  h3 {
    font-size: 16px;
  }
}
@media (max-width: 1040px) {
  h3 {
    font-size: 14px;
  }
}
@media (max-width: 744px) {
  h3 {
    font-size: 12px;
  }
}

input {
  margin: 0;
  padding: 0;
  outline: none;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #1D1616;
}

input:autofill, input:autofill:focus, input:autofill:hover {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #1D1616;
}

a {
  text-decoration: none;
  color: #1D1616;
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-btn {
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 15px;
}
@media (max-width: 1240px) {
  .link-btn {
    font-size: 14px;
    padding: 12px 16px;
  }
}
@media (max-width: 490px) {
  .link-btn {
    padding: 10px 14px;
    font-size: 12px;
  }
}

.link-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.header__up {
  width: 1440px;
  height: 100px;
  padding: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1440px) {
  .header__up {
    width: 100vw;
    padding: 0 60px;
  }
}
@media (max-width: 1240px) {
  .header__up {
    padding: 0 30px;
  }
}
@media (max-width: 744px) {
  .header__up {
    height: 80px;
  }
}
@media (max-width: 490px) {
  .header__up {
    padding: 0 20px;
  }
}
.header__up a {
  color: #007BC2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.header__up a img {
  padding-right: 10px;
}
@media (max-width: 490px) {
  .header__up a img {
    padding-right: 6px;
  }
}
.header__up-logo {
  margin-top: -10px;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
@media (max-width: 490px) {
  .header__up-logo img {
    height: 40px;
  }
}
.header__up-social {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 490px) {
  .header__up-social {
    width: 100px;
  }
}
.header__up-social a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (max-width: 490px) {
  .header__up-social a img {
    height: 32px;
  }
}
@media (max-width: 1040px) {
  .header__up-map {
    display: none !important;
  }
}
@media (max-width: 740px) {
  .header__up-call {
    display: none !important;
  }
}

.header__block {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  background: #007BC2;
}
@media (max-width: 490px) {
  .header__block {
    height: 60px;
    padding: 0 20px;
  }
}
.header__block-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 980px;
}
@media (max-width: 1440px) {
  .header__block-lists {
    width: 70vw;
  }
}
@media (max-width: 1240px) {
  .header__block-lists {
    width: 75vw;
  }
}
@media (max-width: 1040px) {
  .header__block-lists {
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2vw;
  }
}
@media (max-width: 490px) {
  .header__block-lists {
    margin-left: 20;
  }
}
.header__block-lists li a {
  color: #FFFFFF;
  font-weight: 400;
}
@media (max-width: 1040px) {
  .header__block-lists li a {
    font-size: 16px;
  }
}
.header__block-lists li:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.header__block-menu {
  width: 1440px;
  padding: 0 110px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .header__block-menu {
    width: 100vw;
    padding: 0 60px;
  }
}
@media (max-width: 1240px) {
  .header__block-menu {
    padding: 0 30px;
  }
}
@media (max-width: 490px) {
  .header__block-menu {
    padding: 0 20px;
  }
}
.header__block-button {
  color: #FFFFFF;
  font-weight: 600;
  border: 2px solid #FFFFFF;
}
@media (max-width: 490px) {
  .header__block-button {
    font-weight: 400;
    border: 1px solid #FFFFFF;
  }
}
.header__block-button:hover {
  background: #FFFFFF;
  color: #007BC2;
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.burger {
  display: none;
  width: 49px;
  height: 49px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0px;
  background: url("../assets/icon/burger.svg");
  border: none;
  z-index: 11;
}
@media (max-width: 1040px) {
  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: block;
  }
}
@media (max-width: 490px) {
  .burger {
    background: url("../assets/icon/burger-mb.svg");
    width: 39px;
    height: 39px;
  }
}

.burger:hover {
  cursor: pointer;
}

.close {
  display: none;
  width: 35px;
  height: 35px;
  margin: 0 20px 20px 0px;
  background: url("../assets/icon/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1040px) {
  .close {
    display: block;
    position: absolute;
    right: 20px;
    border: none;
  }
}
@media (max-width: 490px) {
  .close {
    background: url("../assets/icon/close-mb.svg");
    width: 28px;
    height: 28px;
  }
}

.close:hover {
  cursor: pointer;
}

@media (max-width: 1040px) {
  .navigation__header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    top: 100px;
    left: 0px;
    z-index: 12;
    background: #007BC2;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
            transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    padding: 30px;
  }
}
@media (max-width: 1040px) and (max-width: 744px) {
  .navigation__header {
    top: 80px;
  }
}

.navigation__header.show {
  -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header__block-taplink ul {
  display: none;
  width: 450px;
  position: absolute;
  margin-left: -45px;
  font-size: 16px;
  padding: 45px;
  padding-top: 60px;
  z-index: 11;
  background-color: #007BC2;
}

.header__block-taplink:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
}
@media (max-width: 1040px) {
  .header__block-taplink:hover ul {
    border-radius: 0px;
    border: 1px solid #FFFFFF;
    display: none;
  }
}

.header__block-underlist:hover a {
  color: #FFFFFF;
}

#home__main {
  background: url("../assets/bg/bg-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  margin-bottom: 120px;
}
@media (max-width: 490px) {
  #home__main {
    background: url("../assets/bg/bg-main-mb.png");
  }
}

.home__main {
  width: 1440px;
  padding: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1440px) {
  .home__main {
    width: 100vw;
    padding: 0 60px;
  }
}
@media (max-width: 1240px) {
  .home__main {
    padding: 0 30px;
  }
}
@media (max-width: 490px) {
  .home__main {
    padding: 0 20px;
  }
}
.home__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #007BC2;
  gap: 30px;
  max-width: 550px;
}
@media (max-width: 1040px) {
  .home__main-title {
    margin-top: 30px;
    gap: 16px;
  }
}
@media (max-width: 744px) {
  .home__main-title {
    margin-top: 10px;
    min-width: 250px;
    gap: 14px;
  }
}
@media (max-width: 490px) {
  .home__main-title {
    margin-top: 30px;
  }
}
.home__main-title h3 {
  max-width: 500px;
}
.home__main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
@media (max-width: 390px) {
  .home__main-btn {
    padding: 10px 0;
  }
}
.home__main img {
  position: relative;
  right: -200px;
}
@media (max-width: 1440px) {
  .home__main img {
    right: -60px;
    height: 46vw;
  }
}
@media (max-width: 1240px) {
  .home__main img {
    right: -30px;
    height: 44vw;
  }
}
@media (max-width: 1040px) {
  .home__main img {
    height: 44vw;
  }
}
@media (max-width: 744px) {
  .home__main img {
    height: 70vw;
    right: 20px;
  }
}
@media (max-width: 490px) {
  .home__main img {
    height: 70vw;
    right: 20px;
    top: -8px;
  }
}
@media (max-width: 390px) {
  .home__main img {
    display: none;
  }
}

.main-btn {
  background: #007BC2;
  color: #FFFFFF;
  padding: 14px 20px;
}
@media (max-width: 1240px) {
  .main-btn {
    padding: 14px 16px;
  }
}
@media (max-width: 490px) {
  .main-btn {
    padding: 12px 14px;
  }
}

.question-btn {
  border: 2px solid #007BC2;
  color: #007BC2;
  font-weight: 600;
}
@media (max-width: 744px) {
  .question-btn {
    display: none;
  }
}

.home__industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 1440px;
  padding: 0 110px;
}
@media (max-width: 1440px) {
  .home__industry {
    width: 100vw;
    padding: 0 60px;
  }
}
@media (max-width: 1240px) {
  .home__industry {
    padding: 0 30px;
  }
}
@media (max-width: 490px) {
  .home__industry {
    padding: 0 20px;
  }
}
.home__industry-subtitle {
  max-width: 820px;
  font-weight: 400;
  line-height: normal;
}
.home__industry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  row-gap: 50px;
  padding-bottom: 50px;
}
.home__industry-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 350px;
  height: 300px;
  background: url("../assets/bg/industry-card.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 123, 194, 0.15), -4px -4px 10px 0px rgba(0, 123, 194, 0.15);
          box-shadow: 4px 4px 10px 0px rgba(0, 123, 194, 0.15), -4px -4px 10px 0px rgba(0, 123, 194, 0.15);
}
.home__industry-card p {
  color: #007BC2;
  font-weight: 600;
  font-size: 18px;
}