$white: #FFFFFF
$black: #1D1616
$deepblue: #007BC2
$blue: #75C5F0
$deepgreen: #4CA638
$green: #60B494

@font-face
	font-family: Montserrat
	src: url(../assets/fonts/Montserrat.ttf)
@font-face
	font-family: Montserrat-Italic
	src: url(../assets/fonts/Montserrat-Italic.ttf)

*
	box-sizing: border-box
	margin: 0
	padding: 0
body
	background-color: #fff
	display: flex
	justify-content: center
	width: 100vw
	font-family: Montserrat
	font-size: 16px
	color: $black
	@media (max-width: 1240px)
		font-size: 15px
	@media (max-width: 1040px)
		font-size: 14px
input
	margin: 0
	padding: 0
	outline: none
input:autofill, input:autofill:focus, input:autofill:hover
	transition: background-color 5000s ease-in-out 0s
	-webkit-text-fill-color: $black
a
	text-decoration: none
	color: $black
	text-decoration: none
li
	list-style-type: none
header
	display: flex
	flex-direction: column
	align-items: center
.link-btn
	padding: 12px 20px
	border-radius: 50px
	border: 2px solid $white
	font-size: 15px
	@media (max-width: 1240px)
		font-size: 14px
		padding: 12px 16px
.link-btn:hover
	transform: scale(0.98)
	transition-duration: 0.1s
.header__up
	width: 1440px
	height: 100px
	padding: 0 110px
	display: flex
	justify-content: space-between
	align-items: center
	@media (max-width: 1440px)
		width: 100vw
		padding: 0 60px
	@media (max-width: 1240px)
		padding: 0 30px
	@media (max-width: 744px)
		height: 80px
	@media (max-width: 490px)
		padding: 0 20px
	@media (max-width: 320px)
		padding: 0 10px
	a
		color: $deepblue
		display: flex
		align-items: center
		font-weight: 600
		img
			padding-right: 10px
	&-logo
		margin-top: -10px
		img
			@media (max-width: 490px)
				height: 48px
		&-logo:hover
		transform: scale(1.02)
		transition-duration: 0.1s
	&-social
		width: 170px
		display: flex
		justify-content: space-between
		a:hover
			transform: scale(1.1)
			transition-duration: 0.2s
		a
			img
				@media (max-width: 490px)
					height: 36px
	&-map
		@media (max-width: 1040px)
			display: none!important
	&-call
		@media (max-width: 740px)
			display: none!important
.header__block
	width: 100vw
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	justify-content: center
	background: $deepblue
	&-lists
		display: flex
		justify-content: space-between
		width: 980px
		@media (max-width: 1440px)
			width: 70vw
		@media (max-width: 1240px)
			width: 75vw
		li
			a
				color: $white
				font-weight: 400
		li:hover
			transform: scale(1.05)
	&-menu
		width: 1440px
		padding: 0 110px
		height: 80px
		display: flex
		justify-content: space-between
		align-items: center
		color: $white
		@media (max-width: 1440px)
			width: 100vw
			padding: 0 60px
		@media (max-width: 1240px)
			padding: 0 30px
		@media (max-width: 490px)
			padding: 0 20px
		@media (max-width: 320px)
			padding: 0 10px
	&-button
		color: $white
		font-weight: 600
	&-button:hover
		background: $white
		color: $deepblue
.burger
	display: none
	width: 49px
	height: 49px
	background-size: contain
	background-repeat: no-repeat
	border-radius: 0px
	background: url("../assets/icon/burger.svg")
	border: none
	z-index: 11
	@media (max-width: 1040px)
		order: 3
		display: block
	@media (max-width: 380px)
		width: 50px
		height: 32px
.burger:hover
	cursor: pointer
.close
	display: none
	width: 35px
	height: 35px
	margin: 0 20px 20px 0px
	background: url("../assets/icon/close.svg")
	background-size: contain
	background-repeat: no-repeat
	@media (max-width: 1040px)
		display: block
		position: absolute
		right: 20px
		border: none
.close:hover
	cursor: pointer
.navigation__header
	@media (max-width: 1040px)
		position: fixed
		display: flex
		width: 100vw
		top: 100px
		left: 0px
		z-index: 12
		background: $deepblue
		transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6)
		transform: translateX(100vw)
		transition: all 0.6s ease
		padding: 30px
.navigation__header.show
	transform: translateX(0vw)
	transition: all 0.6s ease
.header__block-taplink
	ul
		display: none
		width: 450px
		position: absolute
		margin-left: -45px
		font-size: 16px
		padding: 45px
		padding-top: 60px
		z-index: 11
		background-color: $deepblue
.header__block-taplink:hover
	ul
		display: flex
		flex-direction: column
		flex-direction: column
		gap: 25px
		border-radius: 10px
		@media (max-width: 1040px)
			border-radius: 0px
			border: 1px solid $white
			display: none
.header__block-underlist:hover
	a
		color: $white
